.main-container{
    background-color: blueviolet;
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 4px blueviolet;
    border-radius: 10px;
}
.card{
    background-color: aliceblue;
    width: 50%;
    height: 40%;
    box-shadow: 2px 2px 2px 4px aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: blueviolet;
    font-size: 42px;
    font-family:'Times New Roman', Times, serif;
}
p{
    color:indigo;
    font-size: 32px;
    font-family:"Roboto";   
}

span{
    color: black;
    font-weight: 700;
}